@model Cake

@{
    ViewData["Title"] = "Chỉnh sửa bánh";
    var categories = ViewBag.Categories as IEnumerable<Category>;
}
<h1 class="display-4">@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="EditCake" method="post">
    <input hidden asp-for="CakeId" value="@Model.CakeId" />
    <div class="row form-group">
        <div class="col-md-3">
            <label asp-for="Name">Tên bánh: </label>
        </div>
        <div class="col-md-9">
            <input asp-for="Name" class="form-control" placeholder="Bánh ngọt ABC">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label asp-for="Ingredient">Thành phần: </label>
        </div>
        <div class="col-md-9">
            <input asp-for="Ingredient" class="form-control" placeholder="Bột mì, đường, sữa...">
            <span asp-validation-for="Ingredient" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label asp-for="ManufacturingDate">NSX: </label>
        </div>
        <div class="col-md-9">
            <input asp-for="ManufacturingDate" class="form-control" type="date">
            <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label asp-for="ExpiryDate">HSD: </label>
        </div>
        <div class="col-md-9">
            <input asp-for="ExpiryDate" class="form-control" type="date">
            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label asp-for="Price">Giá bán (₫): </label>
        </div>
        <div class="col-md-9">
            <input asp-for="Price" class="form-control" placeholder="5000">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label asp-for="CategoryId">Thể loại: </label>
        </div>
        <div class="col-md-9">
            <select asp-for="CategoryId" class="custom-select">
                <option value="">Chọn thể loại</option>
                @if (categories.Any() && categories.Count() > 0)
                {
                    foreach (var ctg in categories)
                    {
                        <option value="@ctg.CategoryId">@ctg.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                Xoá
            </button>
            <a asp-controller="Home" asp-action="Category" asp-route-id="@Model.CategoryId" class="btn btn-secondary">Trở về</a>
        </div>
    </div>
</form>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xoá bánh</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Xoá bánh?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a type="button" class="btn btn-danger" asp-controller="Home" asp-action="RemoveCake" asp-route-id="@Model.CakeId">Xoá</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
            </div>

        </div>
    </div>
</div>